<div class="col-md-4">
	<div class="panel panel-info">
		<div class="panel-body bg-info">
			<h3>Search for a Flight</h3>
			<%= render "flights/search_form" %>
		</div>
	</div>
</div>
<div class="col-md-8">
	<% if @flights %>
		<% if @flights.any?	%>
			<h2>Select a Flight:</h2>
			<div class="list-group">
			<% @flights.each do |f| %>
				<div class="list-group-item">
					<%= f.from_airport.code %> => <%= f.to_airport.code %><br>
					<%= f.date_formatted_full %>
				</div>
			<% end %>
			</div>
		<% else %>
			<p>No flights found. Try a difference search.</p>
		<% end %>
	<% end %>
</div>