<footer class="text-muted">
	<hr>
	<div class="col-md-12">
		<p><small>A simple demo site for creating flight reservations. View the code on 
			<%= link_to "GitHub", "https://github.com/shasta28/flight-booker.git", target: "_blank" %>.</small>
			<br>
			<small>Built in Ruby on Rails as part of <%= link_to "The Odin Project", "http://www.theodinproject.com/ruby-on-rails/building-advanced-forms", target: "_blank" %>.</small>
		</p>
		<br>
	</div>
</footer>