<header class="navbar navbar-inverse">
  <div class="container">

  	<span class="glyphicon glyphicon-send logo-icon" aria-hidden="true"></span>
    <%= link_to "ACME Travel Co.", root_path, id: "logo", class: "navbar-brand" %>
    
  </div>
</header>
<br>